<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <span v-for="n in 10" :key="n">{{ n }}</span>
    <div v-for="(item, index) in items">{{ item.data }}</div>
    <div v-for="(item, name) in msg">{{ name }} : {{ item }}</div>
  </div>

  <script>
    const App = {
      data() {
        return{
          items: [{data:'111'}, {data:'222'}],
          msg: {
            name: 'icyscany',
            age: 20,
            sex: 'boy'
          }
        }
      }
    }
    Vue.createApp(App).mount("#app")
  </script>


</body>
</html>